.custom-toggle {
  position: relative;
  font-size: 12px;
  line-height: 12px;

  display: flex;

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);

    &:hover + .custom-toggle__icon-wrapper,
    &:focus + .custom-toggle__icon-wrapper {
      border: 1px solid $color-default-white;
      background-color: $color-transparent;
    }


    &:disabled + .custom-toggle__icon-wrapper {
      border: 1px solid $color-default-white;
      background-color: rgba($color-default-white, 0.6);
    }
  }

  label {
    position: relative;

    padding: 5px 0 0 30px;

    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;

      @include vp-767 {
        line-height: 14px;
      }
    }

    @include vp-767 {
      padding: 0 0 0 30px;
    }
  }

  .custom-toggle__icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
    border-radius: 2px;

    border: 1px solid rgba($color-default-white, 0.7);
    background-color: $color-transparent;

    transition: all $trans-default;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-767 {
      top: 3px;
    }
  }

  .custom-toggle__icon {
    stroke: $color-transparent;
    transition: all $trans-default;
  }


  input:checked {
    & + .custom-toggle__icon-wrapper {
      background-color: $color-default-white;

      .custom-toggle__icon {
        stroke: $color-cerulean-blue;
      }
    }



    &:hover + .custom-toggle__icon-wrapper,
    &:focus + .custom-toggle__icon-wrapper {
      background-color: $color-transparent;
      border: 1px solid $color-default-white;

      .custom-toggle__icon {
        stroke: $color-default-white;
      }
    }

    &:disabled + .custom-toggle__icon-wrapper {
      background-color: $color-mischka;
      border: 1px solid $color-mischka;

      .custom-toggle__icon {
        stroke: $color-default-white;
      }
    }
  }



  &.is-invalid {
    .custom-toggle__icon-wrapper {
      border: 1px solid rgba($color-wild-watermelon, 0.7);
      background-color: rgba($color-wild-watermelon, 0.2);
    }
  }
}

.custom-toggle--modal {
  color: rgba($color-charcoal, 0.9);

  .custom-toggle__label {
    color: rgba($color-charcoal, 0.9);
  }

  input {
    &:hover + .custom-toggle__icon-wrapper,
    &:focus + .custom-toggle__icon-wrapper {
      border: 1px solid $color-charcoal;
      background-color: $color-transparent;
    }

    &:disabled + .custom-toggle__icon-wrapper {
      border: 1px solid rgba($color-mischka, 0.5);
      background-color: rgba($color-mischka, 0.2);
    }
  }

  .custom-toggle__icon-wrapper {
    border: 1px solid rgba($color-charcoal, 0.3);

    @include vp-767 {
      top: 0;
    }

    .custom-toggle__icon {
      stroke: $color-default-white;
    }
  }


  input:checked {
    & + .custom-toggle__icon-wrapper {
      background-color: $color-cerulean-blue;
      border: 1px solid $color-cerulean-blue;

      .custom-toggle__icon {
        stroke: $color-default-white;
      }
    }

    &:hover + .custom-toggle__icon-wrapper,
    &:focus + .custom-toggle__icon-wrapper {
      background-color: $color-transparent;
      border: 1px solid $color-charcoal;

      .custom-toggle__icon {
        stroke: $color-charcoal;
      }
    }
  }

  &.is-invalid {
    .custom-toggle__icon-wrapper {
      border: 1px solid rgba($color-wild-watermelon, 0.7);
      background-color: rgba($color-wild-watermelon, 0.2);
    }
  }
}
