.faq__wrapper h2 {
  margin: 0 0 67px 0;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}

.faq__list {
  margin: 0;
  padding: 0 106px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.faq__item {
  border-radius: 16px;
  position: relative;

  &.is-active {
    .faq__item-content {
      background-color: $color-cerulean-blue;
      box-shadow: none;
    }

    .faq__accordion-button {
      background-color: $color-default-white;
      box-shadow: none;

      &::before,
      &::after {
        background-color: $color-cerulean-blue;
      }

      &::before {
        transform: translateX(-50%) rotate(90deg);
      }
    }

    h3 {
      color: $color-default-white;
      margin-bottom: 20px;
    }

    p {
      color: $color-alabaster;
    }
  }

  /* &:hover,
  &:focus {
    .faq__item-content {
      background-color: $color-default-white;
      box-shadow: inset 0 0 0 1px $color-cerulean-blue;
    }

    .faq__accordion-button {
      background-color: $color-transparent;
      box-shadow: inset 0 0 0 1px $color-cerulean-blue;

      &::before,
      &::after {
        background-color: $color-cerulean-blue;
      }
    }
  }

  &:active {
    .faq__item-content {
      background-color: $color-default-white;
      box-shadow: inset 0 0 0 1px $color-cerulean-blue;
    }

    .faq__accordion-button {
      background-color: $color-endeavour;
      box-shadow: none;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }

    h3 {
      color: $color-endeavour;
    }
  }

  &.is-active {
    .faq__item-content {
      background-color: $color-cerulean-blue;
      box-shadow: none;
    }

    .faq__accordion-button {
      background-color: $color-default-white;
      box-shadow: none;

      &::before,
      &::after {
        background-color: $color-cerulean-blue;
      }

      &::before {
        transform: translateX(-50%) rotate(90deg);
      }
    }

    h3 {
      color: $color-default-white;
    }

    p {
      color: $color-alabaster;
    }

    &:hover,
    &:focus {
      .faq__accordion-button {
        background-color: $color-transparent;
        box-shadow: inset 0 0 0 1px $color-default-white;

        &::before,
        &::after {
          background-color: $color-default-white;
        }
      }
    }

    &:active {
      .faq__item-content {
        background-color: $color-endeavour;
      }

      .faq__accordion-button {
        background-color: $color-default-white;
        box-shadow: none;

        &::before,
        &::after {
          background-color: $color-endeavour;
        }
      }
    }
  }

  */




  /* &.is-active {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    padding: 40px 330px 32px 40px;

    h3 {
      color: $color-default-white;
      margin-bottom: 20px;
    }
  } */
}

.faq__item-content {
  width: 100%;
  height: 100%;
  padding: 40px 330px 26px 40px;
  transition: all $trans-default;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px $color-cerulean-blue;
  position: relative;
}

.faq__item-click {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  z-index: 1;
  background-color: $color-transparent;
  cursor: pointer;

  &:hover + .faq__item-content,
  &:focus + .faq__item-content {
    background-color: $color-default-white;
    box-shadow: inset 0 0 0 1px $color-cerulean-blue;

    .faq__accordion-button {
      background-color: $color-transparent;
      box-shadow: inset 0 0 0 1px $color-cerulean-blue;

      &::before,
      &::after {
        background-color: $color-cerulean-blue;
      }
    }
  }

  &:active + .faq__item-content {
      background-color: $color-default-white;
      box-shadow: inset 0 0 0 1px $color-cerulean-blue;

    .faq__accordion-button {
      background-color: $color-endeavour;
      box-shadow: none;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }

    h3 {
      color: $color-endeavour;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;

    & + .faq__item-content {
      background-color: $color-transparent;
      box-shadow: inset 0 0 0 1px $color-mischka;

      h3 {
        color: $color-mischka;
      }

      p {
        color: $color-mischka;
      }

      .faq__accordion-button {
        background-color: $color-mischka;
        box-shadow: none;

        &::before,
        &::after {
          background-color: rgba($color-default-white, 0.6);
        }
      }
    }
  }

  .is-active & {
    & + .faq__item-content {
      background-color: $color-cerulean-blue;
      box-shadow: none;
      padding: 40px 330px 33px 40px;

      .faq__accordion-button {
        background-color: $color-default-white;
        box-shadow: none;

        &::before,
        &::after {
          background-color: $color-cerulean-blue;
        }

        &::before {
          transform: translateX(-50%) rotate(90deg);
        }
      }

      h3 {
        color: $color-default-white;
      }

      p {
        color: $color-alabaster;
      }
    }

    &:hover + .faq__item-content,
    &:focus + .faq__item-content {
      background-color: $color-cerulean-blue;

      .faq__accordion-button {
        background-color: $color-transparent;
        box-shadow: inset 0 0 0 1px $color-default-white;

        &::before,
        &::after {
          background-color: $color-default-white;
        }
      }
    }

    &:active + .faq__item-content {
      background-color: $color-endeavour;

      .faq__accordion-button {
        background-color: $color-default-white;
        box-shadow: none;

        &::before,
        &::after {
          background-color: $color-endeavour;
        }
      }
    }
  }
}

/* .faq__accordion-question {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-transparent;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  padding: 0;
} */

.faq__accordion-button {
  position: absolute;
  top: 40px;
  right: 40px;
  transition: all $trans-default;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  background-color: $color-cerulean-blue;


  &::before,
  &::after {
    content: "";
    position: absolute;

    background-color: $color-default-white;

    transition: all $trans-default;
  }

  &::before {
    top: 11px;
    left: 20px;

    width: 1px;
    height: 18px;

    transform: translateX(-50%);
  }

  &::after {
    top: 20px;
    left: 11px;

    width: 18px;
    height: 1px;

    transform: translateY(-50%);
  }

  /* &:hover,
  &:focus {
    background-color: $color-transparent;
    box-shadow: inset 0 0 0 1px $color-cerulean-blue;

    &::before,
    &::after {
      background-color: $color-cerulean-blue;
    }
  }

  &:active {
    background-color: $color-endeavour;
    box-shadow: none;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-mischka;
    box-shadow: none;

    pointer-events: none;

    &::before,
    &::after {
      background-color: rgba($color-default-white, 0.6);
    }
  }

  .is-active & {
    background-color: $color-default-white;
    box-shadow: none;

    &::before,
    &::after {
      background-color: $color-cerulean-blue;
    }

    &::before {
      transform: translateX(-50%) rotate(90deg);
    }

    &:hover,
    &:focus {
      background-color: $color-transparent;
      box-shadow: inset 0 0 0 1px $color-default-white;

      &::before,
      &::after {
        background-color: $color-default-white;
      }
    }

    &:active {
      background-color: $color-default-white;
      box-shadow: none;

      &::before,
      &::after {
        background-color: $color-endeavour;
      }
    }
  } */
}

.faq__item h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: $color-cerulean-blue;
  transition: all $trans-default;
}

.faq__item p {
  margin: 0;
}
