.form {
  color: $color-default-white;
}

.form h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 24px 0;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
  }
}

.form p {
  color: rgba($color-alabaster, 0.9);
  margin: 0 0 19px 0;

  @include vp-1199 {
    line-height: 20px;
    margin-bottom: 32px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 26px;
  }
}

.form__fields-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 43px;

  @include vp-767 {
    gap: 21px;
    margin-bottom: 29px;
  }
}

.form__fields-wrapper--modal {
  margin-bottom: 30px;
}

.form__field-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba($color-alabaster, 0.8);
  font-size: 14px;
  line-height: 18px;

  label {
    display: block;
    width: fit-content;
    padding-bottom: 8px;
    transition: all $trans-default;

    &:hover {
      color: $color-alabaster;

      input,
      textarea {
        border: 1px solid $color-default-white;
      }
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      padding-bottom: 11px;
    }
  }

  input,
  textarea {
    order: 1;
    padding: 14px 25px;
    border: 1px solid rgba($color-default-white, 0.3);
    border-radius: 8px;
    outline: none;
    background-color: $color-transparent;

    transition: all $trans-default;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $color-default-white;

    &:hover {
      border: 1px solid $color-default-white;

      & + label {
        color: $color-alabaster;
      }
    }

    &:focus,
    &:active {
      border: 1px solid $color-default-white;

      & + label {
        color: $color-alabaster;
      }
    }

    &:disabled {
      border: 1px solid rgba($color-default-white, 0.4);
      background-color: rgba($color-default-white, 0.2);

      & + label {
        color: rgba($color-alabaster, 0.6);
      }
    }
  }

  input {
    min-height: 50px;
  }

  textarea {
    min-height: 98px;

    @include vp-767 {
      min-height: 94px;
    }
  }


  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-wild-watermelon;
      background-color: rgba($color-wild-watermelon, 0.2);

      & + label {
        color: rgba($color-alabaster, 0.8);
      }

      &:focus,
      &:hover {
        border: 1px solid $color-default-white;
        background-color: $color-transparent;

        & + label {
          color: $color-alabaster;
        }
      }
    }
  }
}

.form__field-wrapper--modal {

  label {
    color: rgba($color-charcoal, 0.8);

    &:hover {
      color: $color-charcoal;

      input,
      textarea {
        border: 1px solid $color-charcoal;
      }
    }
  }

  input {
    color: $color-charcoal;
    border: 1px solid rgba($color-charcoal, 0.3);

    &:hover {
      border: 1px solid $color-charcoal;

      & + label {
        color: $color-charcoal;
      }
    }

    &:focus,
    &:active {

      border: 1px solid $color-charcoal;

      & + label {
        color: $color-charcoal;
      }
    }

    &:disabled {
      border: 1px solid rgba($color-mischka, 0.5);
      background-color: rgba($color-mischka, 0.2);

      & + label {
        color: rgba($color-mischka, 0.6);
      }
    }
  }

  &.is-invalid {
    input {
      border: 1px solid $color-wild-watermelon;
      background-color: rgba($color-wild-watermelon, 0.2);

      & + label {
        color: $color-charcoal;
      }

      &:focus,
      &:hover {
        border: 1px solid $color-charcoal;
        background-color: $color-transparent;

        & + label {
          color: $color-charcoal;
        }
      }
    }
  }
}

.form__button {
  display: flex;
  width: 100%;
  text-align: center;

  span {
    flex-grow: 1;
  }
}

.form__button--modal {
  width: fit-content;
  margin: 0 auto;
  background-color: $color-transparent;
}
