.news {
  padding: 124px 0 123px 0;

  @include vp-1199 {
    padding: 99px 0;
  }

  @include vp-767 {
    padding: 69px 0 63px 0;
  }
}

.news__wrapper {
  display: flex;
  flex-direction: column;
}

.news__controls-wrapper {
  margin: 0 auto;

  @include vp-767 {
    align-self: center;
    margin: 0 -15px;
    padding: 0 15px;
    width: 100vw;
    overflow: auto;
  }
}

.news__controls {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 40px auto;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    flex-wrap: nowrap;
    margin-bottom: 24px;
    overflow-x: scroll;
  }
}

.news__control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 26px;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border-radius: 20px;

  color: rgba($color-cerulean-blue, 0.6);

  background-color: $color-alabaster;
  border: none;
  cursor: pointer;

  transition: all $trans-default;

  user-select: none;

  &:hover,
  &:focus {
    color: $color-cerulean-blue;
  }

  &:active {
    color: $color-cerulean-blue;
    box-shadow: inset 0 0 0 1px $color-cerulean-blue;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    color: $color-mischka;
  }

  &.is-active {
    color: $color-cerulean-blue;
    box-shadow: inset 0 0 0 1px $color-cerulean-blue;
  }

  @include vp-1199 {
    padding: 12px 20px;
  }

  @include vp-767 {
    padding: 9px 14px 8px 14px;
    font-size: 12px;
    line-height: 12px;
  }
}

.news__control--active {
  color: $color-cerulean-blue;
  box-shadow: inset 0 0 0 1px $color-cerulean-blue;
}

.news__control:not(:last-child) {
  margin-right: 30px;

  @include vp-1199 {
    margin-right: 10px;
  }

  @include vp-767 {
    margin-right: 12px;
  }
}

.news__container {
  overflow: hidden;
}

.news__wrapper h2 {
  margin: 0 0 46px 0;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    font-size: 34px;
    margin-bottom: 31px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 27px;
  }
}

.news__content-wrapper {
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.news__slide {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 23%;
  min-height: 400px;
  height: auto;
  padding: 124px 46px 0 0;
  border-radius: 12px;
  transition: opacity $trans-default;

  background-color: $color-echo-blue;

  @include vp-1199 {
    min-height: 45.57vw;
    width: auto;
    padding: 124px 85px 0 0;
  }

  @include vp-767 {
    width: 100%;
    min-height: 75vw;
    padding: 52px 27px 0 0;
  }
}

.news__slide--big {
  width: calc(46% + 34px);

  @include vp-1199 {
    min-height: 45.57vw;
    width: auto;
    padding: 124px 83px 0 0;
  }

  @include vp-767 {
    width: 100%;
    min-height: 103.13vw;
    padding: 124px 26px 0 0;
  }
}

.news__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.news__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
  border-radius: 12px;
}

.news__text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.news__text time {
  width: fit-content;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;

  color: $color-cerulean-blue;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;
  position: relative;

  padding: 10px 14px 6px 0;
  margin: 0 0 -1px -1px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $color-transparent;
    background-image: url("../img/svg/angle-bottom-beige.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    bottom: 0;
    right: -17px;
  }

  &::after {
    top: -17px;
    left: 0;
  }

  @include vp-1199 {
    padding: 11px 13px 5px 1px;

    &::before {
      bottom: 1px;
      right: -16px;
    }

    &::after {
      top: -18px;
    }
  }

  @include vp-767 {
    &::before {
      bottom: 0;
    }

    &::after {
      top: -17px;
    }
  }
}

.news__text h3 {
  margin: 0 0 0 -1px;
  width: 89.7%;

  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-cerulean-blue;
  padding: 5px 11px 0 0;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -15px;

    width: 16px;
    height: 16px;

    background-color: $color-transparent;
    background-image: url("../img/svg/angle-bottom-beige.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include vp-1199 {
    width: 86.8%;
    font-size: 20px;
    line-height: 24px;
    padding: 5px 18px 2px 0;
    margin: 0;

    &::before {
      bottom: 1px;
      right: -16px;
    }
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    width: 76.3%;

    padding: 10px 21px 5px 1px;
    margin-left: -1px;

    &::before {
      bottom: 0;
      right: -15px;
    }
  }
}

.news__slide-big time {
  @include vp-1199 {
    padding: 11px 12px 5px 1px;
  }
}

.news__slide--big h3 {
  width: 52.3%;
  padding: 13px 10px 4px 1px;

  @include vp-1199 {
    width: 85.7%;
    padding: 5px 10px 2px 0;
  }

  @include vp-767 {
    width: 76.7%;
    padding: 10px 10px 5px 1px;
  }
}

.news__info {
  background-color: $color-alabaster;
  padding: 9px 19px 14px 1px;
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 16px;
  border-radius: 0 12px 0 0;
  min-height: 57px;
  align-items: center;
  position: relative;
  margin: -1px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -15px;

    width: 16px;
    height: 16px;

    background-color: $color-transparent;
    background-image: url("../img/svg/angle-bottom-beige.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include vp-1199 {
    padding: 7px 19px 11px 1px;
    gap: 15px;

    &::before {
      bottom: 1px;
      right: -16px;
    }
  }


  @include vp-767 {
    min-height: 52px;
    padding: 12px 12px 11px 1px;

    &::before {
      right: -15px;
    }
  }
}

.news__slide--big .news__info {
  width: 70%;
  padding: 0 19px 8px 1px;
  gap: 10px;

  @include vp-1199 {
    width: 100%;
    padding: 7px 19px 11px 1px;
    gap: 22px;

    &::before {
      bottom: 1px;
      right: -16px;
    }
  }

  @include vp-767 {
    padding: 13px 11px 10px 1px;
    gap: 22px;

    &::before {
      bottom: 0;
      right: -15px;
    }
  }
}

.news__info p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.news__slide-link {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-radius: 44px;
  transition: all $trans-default;
  align-self: center;
  margin-top: 1px;

  svg {
    transition: all $trans-default;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;

    svg {
      color: $color-cerulean-blue;
      transform: rotate(45deg);
    }
  }

  &:active {
    background-color: $color-default-white;

    svg {
      color: rgba($color-cerulean-blue, 0.7);
      transform: rotate(45deg);
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-mischka;

    svg {
      color: rgba($color-default-white, 0.6);
    }
  }

  @include vp-1199 {
    margin: 0 0 0 1px;
  }
}

.news__slide--big .news__slide-link {
  margin-top: 3px;

  @include vp-1199 {
    margin: 0 0 0 1px;
  }
}

.news__nav {
  display: flex;
  justify-content: space-between;
  min-height: 32px;
}

.news__pagination-wrapper {
  display: inline-flex;
}

.news__bullet {
  display: inline-flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  transition: all $trans-default;
  background-color: $color-transparent;
  color: rgba($color-cerulean-blue, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    color: $color-cerulean-blue;
    box-shadow: inset 0 0 0 1px $color-cerulean-blue;
    background-color: $color-transparent;
  }

  &:active {
    color: $color-default-white;
    background-color: $color-endeavour;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-transparent;

    pointer-events: none;
    color: $color-mischka;
  }

  @include vp-767 {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: 14px;
  }
}

.news__bullet--active {
  color: $color-default-white;
  background-color: $color-endeavour;
}

.news__bullet:not(:last-child) {
  margin-right: 20px;
}

.news__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 6px;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  transition: all $trans-default;

  user-select: none;
  border-radius: 30px;
  margin-top: 5px;

  svg {
    transition: all $trans-default;
    color: $color-cerulean-blue;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;

    svg {
      color: $color-cerulean-blue;
    }
  }

  &:active {
    background-color: $color-default-white;

    svg {
      color: rgba($color-cerulean-blue, 0.7);
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-transparent;

    pointer-events: none;

    svg {
      color: $color-mischka;
    }
  }

  @include vp-767 {
    margin-top: 3px;
  }
}

.news__nav-button--prev {
  margin-right: 10px;

  svg {
    transform: rotate(-135deg);
  }
}

.news__nav-button--next {
  margin-left: 10px;

  svg {
    transform: rotate(45deg);
  }
}
