.programs {
  padding: 0 0 121px 0;

  @include vp-1199 {
    padding: 0 0 102px 0;
  }

  @include vp-767 {
    padding: 0 0 67px 0;
  }
}

.programs__wrapper {
  position: relative;

  display: grid;

  grid-template-areas: "title . link link link"
    "swiper swiper swiper swiper swiper"
    "scroll scroll scroll . buttons";
  grid-template-columns: auto 1fr auto 52px 54px;
  grid-template-rows: repeat(3, auto);

  @include vp-1199 {
    row-gap: 38px;
  }

  @include vp-767 {
    grid-template-areas: "title . buttons"
      "swiper swiper swiper"
      "link link link";
    grid-template-columns: auto 1fr 50px;
    row-gap: 29px;
  }
  row-gap: 39px;
}

.programs__wrapper h2 {
  margin: 4px 20px 0 0;

  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: $color-cerulean-blue;

  grid-area: title;

  @include vp-1199 {
    margin: 1px 20px 0 0;

    font-size: 34px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__link {
  background-color: $color-alabaster;
  align-self: start;
  grid-area: link;

  @include vp-767 {
    width: 70%;
    padding: 5px 4px 4px 20px;
  }
}

.programs__button {
  @include vp-767 {
    margin-left: auto;
  }
}

.programs__container {
  max-width: 1240px;
  margin-top: 6px;
  overflow: hidden;

  grid-area: swiper;

  @include vp-1199 {
    width: 100%;
    margin-top: 2px;
    overflow: visible;
  }

  @include vp-767 {
    overflow: hidden;
  }
}

.programs__content-wrapper {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.programs__slide {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 392px;
  height: auto;
  min-height: 421px;
  padding: 280px 51px 20px 20px;

  background-color: $color-echo-blue;
  border-radius: 12px;

  @include vp-1239 {
    width: 27.22vw;
    min-height: 29.17vw;
  }

  @include vp-1199 {
    width: 42.19vw;
    min-height: 54.69vw;
    padding: 285px 41px 20px 20px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 125vw;
    padding: 271px 10px 18px 10px;
  }
}

.programs__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  border-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba($color-cerulean-blue, 0.2);
    border-radius: 12px;
  }
}

.programs__image-wrapper img {
  width: 100%;
  max-width: none;
  height: 100%;

  border-radius: 12px;

  object-fit: cover;
}

.programs__text {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.programs__text h3 {
  position: relative;

  width: 60.44%;
  margin: 0;
  padding: 11px 18px 5px 18px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $color-cerulean-blue;

  background-color: $color-default-white;
  border-radius: 12px 12px 0 0;

  @include vp-1199 {
    width: 65.6%;
    padding: 13px 18px 2px 18px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      right: -18px;
      bottom: 1px;
    }
  }

  @include vp-767 {
    width: 54.2%;
    padding: 18px 18px 7px 18px;

    font-size: 16px;
    line-height: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    right: -17px;
    bottom: 0;

    width: 18px;
    height: 18px;

    background-color: $color-transparent;
    background-image: url("../img/svg/angle-bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.programs__info {
  display: grid;
  align-items: center;
  min-height: 79px;
  margin-top: -1px;
  padding: 10px 18px 12px 18px;

  background-color: $color-default-white;
  border-radius: 0 12px 12px 12px;

  gap: 16px;
  grid-template-columns: 1fr 30px;

  @include vp-1199 {
    min-height: 77px;
    padding: 7px 18px 10px 18px;
  }

  @include vp-767 {
    min-height: 69px;
    padding: 8px 18px 10px 18px;
  }
}

.programs__info p {
  margin: 0;

  font-size: 14px;
  line-height: 18px;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}

.programs__slide-link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  width: 30px;
  height: 30px;
  margin-top: 13px;
  padding: 10px;

  color: $color-default-white;

  background-color: $color-cerulean-blue;
  border-radius: 44px;

  transition: all $trans-default;

  @include vp-1199 {
    margin-top: 15px;
  }

  @include vp-767 {
    margin-top: 10px;
  }

  svg {
    transition: all $trans-default;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;

    svg {
      color: $color-cerulean-blue;

      transform: rotate(45deg);
    }
  }

  &:active {
    background-color: $color-default-white;

    svg {
      color: rgba($color-cerulean-blue, 0.7);

      transform: rotate(45deg);
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-mischka;

    svg {
      color: rgba($color-default-white, 0.6);
    }
  }
}

.programs__scrollbar {
  width: 100%;
  max-width: 1134px;
  height: 2px;
  margin-top: 11px;

  background-color: rgba($color-cerulean-blue, 0.2);

  grid-area: scroll;

  @include vp-767 {
    display: none;
  }
}

.programs__scrollbar div {
  background-color: $color-cerulean-blue;
  border-radius: 0;
}

.programs__nav-buttons {
  display: flex;

  grid-area: buttons;
}

.programs__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 6px;

  background-color: $color-transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  transition: all $trans-default;

  user-select: none;

  svg {
    color: $color-cerulean-blue;

    transition: all $trans-default;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;

    svg {
      color: $color-cerulean-blue;
    }
  }

  &:active {
    background-color: $color-default-white;

    svg {
      color: rgba($color-cerulean-blue, 0.7);
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-transparent;

    pointer-events: none;

    svg {
      color: $color-mischka;
    }
  }
}

.programs__nav-button--prev {
  margin-right: 10px;

  @include vp-767 {
    margin-right: 6px;
  }

  svg {
    transform: rotate(-135deg);
  }
}

.programs__nav-button--next {
  svg {
    transform: rotate(45deg);
  }
}
